.custom-search {
    position: relative;
    width: 100vw;
  }
  .custom-search form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1vh;
    column-gap: 3vh;
  }
  .custom-search-input {
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 100px;
    /* padding: 10px 100px 10px 20px;  */
    line-height: 1;
    /* box-sizing: border-box;
    outline: none; */
  }
  .custom-search-botton {
    /* position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px; */
    border: 0;
    background: #d1095e;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    width: 11vh;
    height: 5vh;
  }